#parent{
    width: 80%;
    height: 400px;
    border: 1px solid gray;
    background-color: aquamarine;
    top: 100px;

}
#child{
    width: 50%;
    height: 200px;
    border: 3px solid yellow;
    background-color: brown;
    position: absolute; /*absolute to the parent div*/
    top: 20px;
    left: 30px;
}
#child>p{
    background-color: blue;
    border: 1px solid black;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute; /*absolute to the child div*/
}

#box{
    height: 300px;
    width: 250px;
    border: 2px solid rgb(67, 27, 227);
    background-color:bisque;
    position: sticky;
    bottom: 100px;
    right: 0px;
    z-index: 20;
}
#sticky{
    height: 300px;
    width: 100%;
    border: 1px solid gray;
    background-color: yellowgreen;
    position: sticky;
    top: 50px;
}
#form>button:hover{
    width: 50%;
    background-color: blue;
    border: none;
    cursor: pointer;
}

::selection{
    background-color: rgb(211, 211, 46);
}
#form{
    width: 20%;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}
#input{
    width: 85%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#form>button{
    width: 50%;
    background-color: cadetblue;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    padding: 10px;
}
input[type=text]{
    margin: top 20px;
}
input:focus{
    background-color: olive;
}